<div class="group_user-new-wrapper" >
  <div class="container">
    <div class="row">
      <h1 class="profile-title">プロフィール設定</h1>
      <div class="col-md-4 col-md-offsest-1">
        <%= form_for @group_user do |f| %>
          <div class="form-group">
            <%= f.label :image %>
            <%= f.file_field :image %>
          </div>
      </div>
      <div class="col-md-8 col-md-offsest-2">
          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_area :name, class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%= f.label :gender %>
            <%= f.text_area :gender, class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%= f.label :prefectures %>
            <%= f.text_area :prefectures, class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%= f.label :part %>
            <%= f.text_area :part, class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%= f.label :genre %>
            <%= f.text_area :genre, class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%= f.label :artist %>
            <%= f.text_area :artist, class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%= f.label :url %>
            <%= f.text_area :url, class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%= f.label :description %>
            <%= f.text_area :description, class: 'form-control' %>
          </div>
      </div>
   <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-5"> <%= f.submit '確定', class: 'btn btn-block btn-blue' %></div>
     <% end %>
    <div class="col-md-4"><%= link_to 'ログインはこちら', login_path, class: 'text-blue' %> </div>
  </div>
    </div>
  </div>
</div>

