<div class="group_user-index-wrapper">
  <div class="container">
    <p class="search">ーグループを探すー詳細</p>
      <div class="row">
        <div class="col-md-4">
          <div class="group_user-show-one">
            <%= image_tag @group_user_show.image.url %>
          </div>
        </div>
        
        <div class="col-md-8">
          <div class="group_user-show-two"> 
            <h2 class="group_user-author">
              <%= @group_user_show.name %>
            </h2>
            <table class="table">
              <tr>
                <th>性別</th>
                <td><%= @group_user_show.gender %></td>
              </tr>
              <tr>
                <th>活動地域</th>
                <td><%= @group_user_show.prefectures %></td>
              </tr>
              <tr>
                <th>募集パート</th>
                <td><%= @group_user_show.part %></td>
              </tr>
              <tr>
                <th>好きなジャンル</th>
                <td><%= @group_user_show.genre %></td>
              </tr>
              <tr>
                <th>好きなアーティスト</th>
                <td><%= @group_user_show.artist %></td>
              </tr>
              <tr>
                <th>URL</th>
                <td><% iframe = content_tag(
                        :iframe,
                        '',
                        width: 560,
                        height: 315,
                        src: "https://www.youtube.com/embed/#{@group_user_show.url}",
                        # src: "https://www.youtube.com/embed/5GQnC6UUsZw",
                        frameborder: 0,
                        allowfullscreen: true
                    ) %>
                    <%= content_tag(:div, iframe, class: 'youtube-container') %>
                </td>
              </tr>
              <tr>
                <th>PR</th>
                <td><%= @group_user_show.description %></td>
              </tr>
            </table>
            
            <%= link_to new_message_path(to_user_id: @group_user_show.user.id),method: :get, class: 'btn btn-primary' do %>
                メッセージを送る
            <% end %>
            
            <%= link_to users_messages_path(to_user_id: @group_user_show.user_id), method: :get, class: 'btn btn-primary' do %>
                メッセージ一覧
            <% end %>
              
          </div>
        </div>
      </div>
  </div>
</div>