<div class="group_user-index-wrapper">
  <div class="container">
    <p class="search">ーグループを探すー詳細</p>
      <div class="row">
        <div class="col-md-4">
          <div class="group_user-show-one">
            <%= image_tag @group_user.image.url %>
          </div>
        </div>
        
        <div class="col-md-8">
          <div class="group_user-show-two"> 
            <h2 class="group_user-author">
              <%= @group_user.name %>
            </h2>
            <table class="table">
              <tr>
                <th>性別</th>
                <td><%= @group_user.gender %></td>
              </tr>
              <tr>
                <th>活動地域</th>
                <td><%= @group_user.prefectures %></td>
              </tr>
              <tr>
                <th>募集パート</th>
                <td><%= @group_user.part %></td>
              </tr>
              <tr>
                <th>好きなジャンル</th>
                <td><%= @group_user.genre %></td>
              </tr>
              <tr>
                <th>好きなアーティスト</th>
                <td><%= @group_user.artist %></td>
              </tr>
              <tr>
                <th>URL</th>
                <td><%= @group_user.url %></td>
              </tr>
              <tr>
                <th>PR</th>
                <td><%= @group_user.description %></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
  </div>
</div>