<div class="member_user-new-wrapper" >
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8 users-new-container">
        <h1 class="profile-title">メンバープロフィール編集</h1>
        <%= form_for @member_user do |f| %>
          <div class="form-group">
            <%= f.label :image, "画像" %>
            <%= f.file_field :image %>
          </div>
          
          <div>
            <%= f.label :name, "名前" %>
            <%= f.text_field :name, class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%= f.label :gender, "性別" %>
            <%= f.text_area :gender, class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%= f.label :prefectures, "都道府県" %>
            <%= f.text_area :prefectures, class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%= f.label :part, "担当パート" %>
            <%= f.text_area :part, class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%= f.label :genre, "好きなジャンル" %>
            <%= f.text_area :genre, class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%= f.label :artist, "好きなアーティスト" %>
            <%= f.text_area :artist, class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%= f.label :url, "URL" %>
            <%= f.text_area :url, class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%= f.label :description, "自己PR" %>
            <%= f.text_area :description, class: 'form-control' %>
          </div>
         <div class="col-md-offset-4 col-md-4 register-users-new-container"> 
           <%= f.submit "更新", class: 'btn-block btn-primary' %>
         </div>
        <% end %>
      </div>
    </div>
  </div>
</div>