<div class="member_user-index-wrapper">
  <div class="container">
    <p class="search">ーメンバーを探すー</p>
      <div class="row">
        <% @member_users.each do |member_user| %>
          <div class="col-md-4 col-md-offset-1">
            <div class="member_user-index-single">
              <h2 class="member_user-author">
                <%= member_user.name %>
              </h2>
              <div class="member_user-image">
                <%= image_tag member_user.image.url %>
              </div>
              <table class="table">
                <tr>
                  <th>性別</th>
                  <td><%= member_user.gender %></td>
                </tr>
                <tr>
                  <th>都道府県</th>
                  <td><%= member_user.prefectures %></td>
                </tr>
                <tr>
                  <th>担当パート</th>
                  <td><%= member_user.part %></td>
                </tr>
                <tr>
                  <th>好きなジャンル</th>
                  <td><%= member_user.genre %></td>
                </tr>
                <tr>
                  <th>好きなアーティスト</th>
                  <td><%= member_user.artist %></td>
                </tr>
              </table>
              
              <%= link_to member_user_path(id: member_user.id),method: :get,class: 'btn btn-white' do %>
                ープロフィール詳細ー
              <% end %>
              
            </div>
        </div>
      <% end %>
    </div>
  </div>
</div>




