<div class="member_user-index-wrapper">
  <div class="container">
    <p class="search">ーメンバーを探すー詳細</p>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="member_user-index-single">
            <h2 class="member_user-author">
              <%= @member_user.name %>
            </h2>
            <%= image_tag @member_user.image.url %>
            <div class="form-group">
              <%= @member_user.gender %>
            </div>
            <div class="form-group">
              <%= @member_user.prefectures %>
            </div>
            <div class="form-group">
              <%= @member_user.part %>
            </div>
            <div class="form-group">
              <%= @member_user.genre %>
            </div>
            <div class="form-group">
              <%= @member_user.artist %>
            </div>
            <div class="form-group">
              <%= @member_user.url %>
            </div>
            <div class="form-group">
              <%= @member_user.description %>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>