<div class="member_user-index-wrapper">
  <div class="container">
    <p class="search">ーメンバーを探すー詳細</p>
      <div class="row">
        <div class="col-md-4">
          <div class="group_user-show-one">
            <%= image_tag @member_user.image.url %>
          </div>
        </div>
        
        <div class="col-md-8">
          <div class="group_user-show-two"> 
            <h2 class="group_user-author">
              <%= @member_user.name %>
            </h2>
            <table class="table">
              <tr>
                <th>性別</th>
                <td><%= @member_user.gender %></td>
              </tr>
              <tr>
                <th>都道府県</th>
                <td><%= @member_user.prefectures %></td>
              </tr>
              <tr>
                <th>担当パート</th>
                <td><%= @member_user.part %></td>
              </tr>
              <tr>
                <th>好きなジャンル</th>
                <td><%= @member_user.genre %></td>
              </tr>
              <tr>
                <th>好きなアーティスト</th>
                <td><%= @member_user.artist %></td>
              </tr>
              <tr>
                <th>URL</th>
                <td><% iframe = content_tag(
                        :iframe,
                        '',
                        width: 560,
                        height: 315,
                        src: "https://www.youtube.com/embed/#{@member_user.url}",
                        # src: "https://www.youtube.com/embed/5GQnC6UUsZw",
                        frameborder: 0,
                        allowfullscreen: true
                    ) %>
                    <%= content_tag(:div, iframe, class: 'youtube-container') %>
                </td>
              </tr>

                <th>自己PR</th>
                <td><%= @member_user.description %></td>
              </tr>
            </table>
            
             <%= link_to messages_new_path(id: @member_user.id),method: :get, class: 'btn btn-primary' do %>
                メッセージを送る
              <% end %>
          </div>
        </div>
      </div>
  </div>
</div>