<div class="message-message-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <% @messages.each do |message| %>
          <% if current_user.id == message.from_user_id %>
            <div class="message-message-single-my">
              <h5 class="message-author">
                <%= message.from_user.name %>
              </h5>
              <div class="message-text1">
                <%= message.content %>
              </div>
              <div class="date">
              <%= message.created_at.strftime('%Y/%m/%d/%H:%M') %>
              </div>
            </div>
          <% else %>  
            <div class="message-message-single-you">
              <h5 class="message-author">
                <%= message.from_user.name %>
              </h5>
              <div class="message-text2">
                <%= message.content %>
              </div>
              <div class="date">
              <%= message.created_at.strftime('%Y/%m/%d/%H:%M') %>
              </div>
            </div>
          <% end %>  
        <% end %>
      </div>
    </div>
  </div>
</div>