<!DOCTYPE html>
<html>
  <head>
    <title>Session</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
    <% end %>
    
    <nav class="navbar navbar-default navbar-transparent">
      <div class="container">
        <% if logged_in? && login_group_user.blank? %>
          <%= link_to group_users_path do %>
            <span class="navbar-brand">Session</span>
          <% end %>
        <% elsif logged_in? && login_member_user.blank? %>
          <%= link_to member_users_path do %>
            <span class="navbar-brand">Session</span>
          <% end %>  
        <% else %>
          <%= link_to member_users_path do %>
             <span class="navbar-brand">Session</span>
          <% end %> 
        <% end %>
        <ul class="nav navbar-nav navbar-right">
          <% if logged_in? %>
            <li>
              <%= link_to logout_path, method: :delete do %>
                <%= image_tag "icons/logout.png" %>
              <% end %>
            </li>
            <% if login_group_user.blank? %>
            <li>
              <%= link_to edit_member_user_path (current_user.id) do %>
                <%= image_tag "icons/register.png" %>
              <% end %>
            </li>
            <% else %>
            <li>
              <%= link_to edit_group_user_path (current_user.id) do %>
                <%= image_tag "icons/register.png" %>
              <% end %>
            </li>
            <% end %>
          <% else %>
            <li>
              <%= link_to login_path do %>
                <%= image_tag "icons/login.png" %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
    
    <%= yield %>
    
    <script>
      $(function(){
        $(".alert").fadeOut(5000);
      });
    </script>
   
    <footer>
      <nav class="navbar navbar-default navbar-transparent">
       <% if logged_in? && login_group_user.blank? %>
          <%= link_to group_users_path do %>
            <span class="navbar-brand">Session</span>
          <% end %>
        <% elsif logged_in? && login_member_user.blank? %>
          <%= link_to member_users_path do %>
            <span class="navbar-brand">Session</span>
          <% end %>  
        <% else %>
          <%= link_to member_users_path do %>
             <span class="navbar-brand">Session</span>
          <% end %> 
        <% end %>
        <p>Session 2019</p>
      </nav>  
    </footer>
  </body>
</html>
